body {
  display: grid;
  place-items: center;
  height: 100vh;
}

.elm-view,.react-view {
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}


button {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background: none;
  cursor: pointer;
  color: #aaa;
  background: white;
}

button:active {
  color: white;
  background: #aaa;
}

h2 {
  font-family: 'Helvetica Neue';
  font-weight: 200;
  padding: 0;
  margin: 20px;
}